specification/appdf-description.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>AppDF description.xml schema</xsd:documentation>
    <xsd:documentation>Project home: http://www.github.com/onepf/appdf</xsd:documentation>
    <xsd:documentation>Author: Vassili Philippov</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="application-description-file" type="type-application-description-file" />
  <xsd:complexType name="type-application-description-file">
    <xsd:sequence>
      <xsd:element name="application" type="type-application" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:positiveInteger" />
  </xsd:complexType>
  <xsd:complexType name="type-application">
    <xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="package" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>