specification/appdf-description.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>AppDF description.xml schema</xsd:documentation>
    <xsd:documentation>Project home: http://www.github.com/onepf/appdf</xsd:documentation>
    <xsd:documentation>Author: Vassili Philippov</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="application-description-file" type="type-application-description-file" />
  <xsd:complexType name="type-application-description-file">
    <xsd:sequence>
      <xsd:element name="application" type="type-application" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:positiveInteger" />
  </xsd:complexType>
  
  <xsd:complexType name="type-application">
    <xsd:sequence>
      <xsd:element name="categorization" type="type-categorization" />
      <xsd:element name="description" type="type-description" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="package" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="type-categorization">
    <xsd:sequence>
      <xsd:element name="type" type="type-categorization-type" />
      <xsd:element name="category" type="xsd:string" />
      <xsd:element name="subcategory" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="type-categorization-type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="application|game"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
</xsd:schema>