specification/appdf-description.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>AppDF description.xml schema</xsd:documentation>
    <xsd:documentation>Project home: http://www.github.com/onepf/appdf</xsd:documentation>
    <xsd:documentation>Author: Vassili Philippov</xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="application-description-file" type="type-application-description-file" />
  
  <xsd:complexType name="type-application-description-file">
    <xsd:sequence>
      <xsd:element name="application" type="type-application" />
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:positiveInteger" use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="type-application">
    <xsd:sequence>
      <xsd:element name="categorization" type="type-categorization" />
      <xsd:element name="description" type="type-description" maxOccurs="unbounded" />
      <xsd:element name="content-description" type="type-contentdescription" />
    </xsd:sequence>
    <xsd:attribute name="package" type="xsd:string" use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="type-categorization">
    <xsd:sequence>
      <xsd:element name="type" type="type-categorization-type" />
      <xsd:element name="category" type="xsd:string" />
      <xsd:element name="subcategory" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="type-categorization-type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="application|game"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:complexType name="type-description">
    <xsd:sequence>
      <xsd:element name="texts" type="type-description-texts" />
      <xsd:element name="images" type="type-description-images" />
      <xsd:element name="videos" type="type-description-videos" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="language" type="type-description-attr-language" use="required"/>
    <xsd:attribute name="default" type="type-attr-yesno" default="no" />
  </xsd:complexType>
  
  <xsd:complexType name="type-description-texts">
    <xsd:sequence>
      <xsd:element name="title" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="keywords" type="xsd:string"/>
      <xsd:element name="short-description" type="xsd:string" maxOccurs="unbounded" />
      <xsd:element name="full-description" type="xsd:string" maxOccurs="unbounded" />
      <xsd:element name="features" type="type-description-texts-features" />
      <xsd:element name="recent-changes" type="xsd:string" minOccurs="0"/>
      <xsd:element name="privacy-policy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="eula" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="type-description-texts-features">
    <xsd:sequence>
      <xsd:element name="feature" type="xsd:string" minOccurs="3" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="type-description-images">
    <xsd:sequence>
      <xsd:element name="app-icon" type="type-description-images-appicon" maxOccurs="unbounded" />
      <xsd:element name="large-promo" type="type-attr-localfile" />
      <xsd:element name="small-promo" type="type-attr-localfile" />
      <xsd:element name="screenshots" type="type-description-images-screenshots" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="type-description-images-appicon">
    <xsd:simpleContent>
      <xsd:extension base="type-attr-localfile">
        <xsd:attribute name="size" type="xsd:positiveInteger" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="type-description-images-screenshots">
    <xsd:sequence>
      <xsd:element name="screenshot" type="type-attr-localfile" minOccurs="4" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="type-description-videos">
    <xsd:sequence>
      <xsd:element name="youtube-video" type="xsd:string" minOccurs="0" />
      <xsd:element name="video-file" type="type-attr-localfile" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="type-description-attr-language">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-z][a-z]"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:simpleType name="type-attr-yesno">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="yes|no"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:simpleType name="type-attr-localfile">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[_ a-zA-Z0-9\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:complexType name="type-contentdescription">
    <xsd:sequence>
      <xsd:element name="content-rating" type="type-contentdescription-contentrating" />
      <xsd:element name="rating-certificates" type="type-contentdescription-ratingcertificates" minOccurs="0" />
      <xsd:element name="content-descriptors" type="type-contentdescription-contentdescriptors" />
      <xsd:element name="included-activities" type="type-contentdescription-includedactivities" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="type-contentdescription-contentrating">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:pattern value="3|6|10|13|17|18"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  
  <xsd:complexType name="type-contentdescription-ratingcertificates">
    <xsd:sequence>
      <xsd:element name="rating-certificate" type="type-contentdescription-ratingcertificates-ratingcertificate" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="type-contentdescription-ratingcertificates-ratingcertificate">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="type-contentdescription-ratingcertificates-attr-type" use="required" />
        <xsd:attribute name="certificate" type="type-attr-localfile" />
        <xsd:attribute name="mark" type="type-attr-localfile" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:simpleType name="type-contentdescription-ratingcertificates-attr-type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="PEGI|ESRB|GRB|CERO|DEJUS|FSK"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:complexType name="type-contentdescription-contentdescriptors">
    <xsd:sequence>
      <xsd:element name="cartoon-violence" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="realistic-violence" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="bad-language" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="fear" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="sexual-content" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="drugs" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="gambling-refference" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="alcohol" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="smoking" type="type-contentdescription-contentdescriptors-attr" />
      <xsd:element name="discrimination" type="type-contentdescription-contentdescriptors-attr" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="type-contentdescription-contentdescriptors-attr">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="no|light|strong"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <xsd:complexType name="type-contentdescription-includedactivities">
    <xsd:sequence>
      <xsd:element name="in-app-billing" type="type-attr-yesno" />
      <xsd:element name="gambling" type="type-attr-yesno" />
      <xsd:element name="advertising" type="type-attr-yesno" />
      <xsd:element name="user-generated-content" type="type-attr-yesno" />
      <xsd:element name="user-to-user-communications" type="type-attr-yesno" />
      <xsd:element name="account-creation" type="type-attr-yesno" />
      <xsd:element name="personal-information-collection" type="type-attr-yesno" />
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>