specification/fortumo-products-description.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>AppDF fortumo-products.xml schema</xs:documentation>
        <xs:documentation>Project home: http://www.github.com/onepf/appdf</xs:documentation>
        <xs:documentation>Author: Anastasia Karimova</xs:documentation>
        <xs:documentation>License: http://www.apache.org/licenses/LICENSE-2.0</xs:documentation>
    </xs:annotation>

    <xs:element name="fortumo-products" type="type-fortumo-products"/>

    <xs:complexType name="type-fortumo-products">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="product" type="type-product" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="type-product">
        <xs:attribute name="id" type="type-product-id" use="required"/>
        <xs:attribute name="consumable" type="xs:boolean" use="required"/>
        <xs:attribute name="service-id" type="type-not-empty-string" use="optional"/>
        <xs:attribute name="service-inapp-secret" type="type-not-empty-string" use="optional"/>
        <xs:attribute name="nook-service-id" type="type-not-empty-string" use="optional"/>
        <xs:attribute name="nook-service-inapp-secret" type="type-not-empty-string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="type-product-id">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]|[0-9]){1}[a-z0-9._]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-not-empty-string">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
