specification/inapp-description.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>InApp products inapps-description.xml schema</xs:documentation>
        <xs:documentation>Project home: http://www.github.com/onepf/appdf</xs:documentation>
        <xs:documentation>Author: Anastasia Karimova</xs:documentation>
        <xs:documentation>License: http://www.apache.org/licenses/LICENSE-2.0</xs:documentation>
    </xs:annotation>

    <xs:element name="inapp-products">
        <xs:complexType>
            <xs:all minOccurs="1" maxOccurs="1">
                <xs:element name="items" type="type-items" minOccurs="0" maxOccurs="1"/>
                <xs:element name="subscriptions" type="type-subscriptions" minOccurs="0" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="type-inapp-product">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="summary" type="type-summary" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="price" type="type-price" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="type-attr-product-id" use="required"/>
        <xs:attribute name="publish-state" type="type-attr-publish-state" use="required"/>
    </xs:complexType>

    <xs:complexType name="type-subscription">
        <xs:complexContent>
            <xs:extension base="type-inapp-product">
                <xs:attribute name="period" type="type-attr-subscription-period" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="type-subscriptions">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="subscription" type="type-subscription" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="type-item">
        <xs:complexContent>
            <xs:extension base="type-inapp-product"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="type-items">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="item" type="type-item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="type-attr-product-id">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]|[0-9]){1}[a-z0-9._]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-attr-subscription-period">
        <xs:restriction base="xs:string">
            <xs:pattern value="oneMonth|oneYear"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="type-summary-base">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="title" type="type-title" minOccurs="1" maxOccurs="1"/>
            <xs:element name="description" type="type-description" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="type-summary-localization">
        <xs:complexContent>
            <xs:extension base="type-summary-base">
                <xs:attribute name="locale" type="type-attr-locale" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="type-title">
        <xs:restriction base="xs:string">
            <xs:maxLength value="55"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-description">
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-attr-locale">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z]_[A-Z][A-Z]"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="type-price">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="price-base" type="xs:decimal" minOccurs="1"/>
            <xs:element name="price-local" type="type-price-local" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="autofill" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="type-price-local">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="country" type="type-attr-price-country" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="type-attr-price-country">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-attr-publish-state">
        <xs:restriction base="xs:string">
            <xs:pattern value="published|unpublished"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="type-summary">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="summary-base" type="type-summary-base" minOccurs="1" maxOccurs="1"/>
            <xs:element name="summary-localization" type="type-summary-localization" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>